@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
    height: 100%;
}

body {
  @apply bg-white text-gray-900;
  font-family: theme('fontFamily.sans');
  antialiased: antialiased;
}

@media (prefers-color-scheme: dark) {
  body {
    @apply bg-zinc-950 text-zinc-100;
  }
}

/* Rehype Pretty Code Configuration */
[data-rehype-pretty-code-fragment] .line,
[data-line] {
  padding: 0 1rem;
  border-left: 3px solid transparent;
}

pre > code {
  display: grid !important;
  min-width: 100%;
}

/* Highlighted line style */
[data-rehype-pretty-code-fragment] .line--highlighted,
[data-highlighted-line] {
  background-color: rgba(59, 130, 246, 0.15) !important;
  border-left-color: #3b82f6 !important;
}

/* Highlighted word style */
[data-rehype-pretty-code-fragment] .word--highlighted,
[data-highlighted-chars] {
  background-color: rgba(59, 130, 246, 0.3) !important;
  padding: 0.1rem 0.2rem;
  border-radius: 0.2rem;
}

/* Code block titles and fragments joining */
div.flex.items-center.justify-between + pre {
  margin-top: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

/* Ensure table content doesn't have double borders or weird gaps */
table {
  border-spacing: 0;
}

tbody tr:last-child td {
  border-bottom-width: 0;
}

/* Ensure code fits */
code {
  word-wrap: break-word;
}
